@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Rehber Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Fotoğraf</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        count = count + 1;
        <tr>
            <td>@count</td>
            <td><img src="@item.Image" height="70" width="70" style="border-radius:50%;"/></td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            @if (item.Status)
            {
                <td><a href="/Admin/Guide/ChangeToFalse/@item.GuideID" class="btn btn-outline-warning" style="width:100%">Pasif Yap</a></td>
            }
            else
            {
                <td><a href="/Admin/Guide/ChangeToTrue/@item.GuideID" class="btn btn-outline-info" style="width:100%">Aktif Yap</a></td>
            }
            <td><a href="/Admin/Guide/EditGuide/@item.GuideID" class="btn btn-outline-success" style="width:100%">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Guide/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>
