<ul class="menu-inner py-1">
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment-dots"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-map-alt"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-group"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chat"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Raporlar</div>
        </a>
       @* <ul>
            <li>
                <a href="/Excel/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-report"></i>
                    <div data-i18n="Analytics">Excel Raporlar</div>
                </a>
            </li> 
            <li>
                <a href="/PdfReport/Index/" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-report"></i>
                    <div data-i18n="Analytics">Pdf Raporlar</div>
                </a>
            </li>
        </ul>*@
       
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chat"></i>
            <div data-i18n="Analytics">Mail Gönder</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-pin"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-contact"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-book-open"></i>
            <div data-i18n="Analytics">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-receipt"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
        <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-box"></i>
            <div data-i18n="Analytics">Mail Listesi</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-pin"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-id-card"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-log-out"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>