@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h3>Messages</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sender</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Message</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td><b>@sayac</b></td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.MessageDate.ToString("dd.MMM.yyyy")</td>
            <td><a href="/Admin/ContactUs/MessageDetail/@item.ContactUsID" class="btn btn-outline-dark" style="width:100%"> Message </a></td>
            <td><a href="/Admin/ContactUs/Delete/@item.ContactUsID" class="btn btn-outline-danger" style="width:100%"> Delete </a></td>
        </tr>
    }
</table>
