
<ul class="nav navbar-nav float-right">
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-mail">             </i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="/Contact/Index/"><i class="ft-bookmark"></i>Contact</a>
                <a class="dropdown-item" href="/Default/Index/"><i class="ft-check-square"></i>Home </a></div>
        </div>
    </li>
    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">             <span class="avatar avatar-online"><img src="~/user.png" alt="avatar"><i></i></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="arrow_box_right">
                <a class="dropdown-item" href="/Member/Profile/Index/"><span class="avatar avatar-online">
                        <img src="~/user.png" alt="avatar">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Member/Profile/Index/"><i class="ft-user"></i> Profili Düzenle</a>
                <a class="dropdown-item" href="/Member/Reservation/MyCurrentReservation/"><i class="ft-mail"></i> Aktif Rezervasyonlarım</a>
                <a class="dropdown-item" href="/Member/Reservation/MyOldReservation/"><i class="ft-check-square"></i> Geçmiş Rezervasyonlar</a>
                <a class="dropdown-item" href="/Member/Reservation/MyApprovalReservation/"><i class="ft-message-square"></i> Onay  Bekleyenler</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Çıkış Yap</a>
            </div>
        </div>
    </li>
</ul>